body {
	margin:0px;
	padding:0px;
	background-color: White;
	color:black;
	}

.Haut {
	margin: 20px 20px 0px 20px;
	padding: 5px;
	background-color: #cccc99;
	border: 2px solid black;
	width: 530px;
	text-align: center;
	border-bottom-style: none;
}
	
.Navigation {
	margin: 0 20px 0 20px;
	padding: 0px 110px 0 110px;
	width: 320px;
	border: 2px solid black;
	display: block;
	height: 25px;
	text-align: justify;
	background: #cccc99;
	border-bottom: none;
	border-top: none;
}
	
.Navigation :link, .Navigation :visited {
	padding: 0px 5px 0px 5px;
	font-size: 90%;
	text-transform: lowercase;
	text-decoration: none;
	font-weight: bold;
	color: #fff;
}

.Navigation :link:hover, .Navigation :visited:hover {
	padding-bottom: 4px;
	border-bottom: 3px solid ThreedShadow;
}

.Boite1 {
	margin: 0px 20px 0px;
	padding: 20px 20px 20px 20px;
	color: black;
	background-color: White;
	border: 2px solid black;
	width: 500px;
	border-top: none;
	border-bottom: 2px dotted Black;
}

.Contenu {
	margin: 0px 20px 20px;
	padding: 20px;
	color: black;
	background-color: White;
	border: 2px solid black;
	width: 500px;
	border-top: none;
}

p {
	font-size:11px;
	line-height:20px;
	font-family:verdana, arial, helvetica, sans-serif;
	margin:0px 0px 9px 0px;	
	}

#Contenu>p {margin:0px;}
#Contenu>p+p {text-indent:30px;}

a {
	color:#CC3300;
	font-size:11px;
	text-decoration:none;
	font-weight:600;
	font-family:verdana, arial, helvetica, sans-serif;
	}
a:link {color:#CC3300;}
a:visited {color:#CC3300;}
a:hover {
	background-color: transparent;
}
h1 {
	color:#333;
	font:24px/24px verdana, arial, helvetica, sans-serif;
	font-weight:900;
	}
h2 {
	color:#333;
	font:12px verdana, arial, helvetica, sans-serif;
	font-weight:700;
	margin:18px 0px 3px 0px;
	}
h3 {
	color: #666;
	font-size: 11px;
	font-weight: 800;
	margin: 6px 0px 0px 0px;
}
	
#Copyright {
	clear:both;
	padding:50px 0px 100px 0px;
	text-align:center;
	font-weight:800;
	color:#999;
	}
#copyrightText {
	position:relative;
	left:-17px;
	}

.first {margin-top:0px; padding-top:0px;}